# dependencies
node_modules
!node_modules/mediainfo.js/
!node_modules/mediainfo.js/**

# sst
.sst

# tmp files
.#*

# env
.env*.local
.env

# opennext
.open-next

# misc
.DS_Store

.turbo

cdn-keys/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

*.secrets.env
.env
