AuthSecret=

PostgresHost=
PostgresDatabase=
PostgresUsername=
PostgresPassword=
PostgresPort=
PostgresConnectionString=

MailerHost=
MailerPort=
MailerUser=
MailerPassword=

RedisUser=
RedisHost=
RedisPort=
RedisPassword=

VapidPublicKey=
VapidPrivateKey=

WebSocketToken=

SpotifyClientId=
SpotifyClientSecret=

SentryAuthToken=
SentryDsn=
SentryFrontendDsn=

ContentCdnPublicKeyId=
ContentCdnKeyGroupId=
FrontendCdnCachePolicyId=
