AuthSecret=

SupabaseUrl=
SupabaseKey=
SupabaseSendEmailHookSecret=

MailerHost=
MailerPort=
MailerUser=
MailerPassword=

RedisUser=
RedisHost=
RedisPort=
RedisPassword=

VapidPublicKey=
VapidPrivateKey=

WebSocketToken=
