AUTH_SECRET=
API_AUTH_SECRET=

SUPABASE_URL=https://lwzgmgadhsmspkqazzmr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3emdtZ2FkaHNtc3BrcWF6em1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIyNTk5MDksImV4cCI6MjA1NzgzNTkwOX0.N_kwoJmfztDl7AsnaEIz2lrdk9aboCV6piWJKuMte-o

MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASSWORD=

REDIS_USER=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

WEB_SOCKET_TOKEN=
